* {
	box-sizing: border-box;
}

body {
	background: rgb(10, 164, 235);
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
main {
	padding: 1rem;
  }
