.gra {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.gra img {
    max-height: 550px;
    max-width: 550px;
    object-fit: cover;
}

.game-description {
    max-width: 400px;
    font-size: 40px
}

.game-description h2 {
    font-size: 30px;
    margin: 0;
}